<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-zinc-900">
    <div class="w-full bg-zinc-900 p-10 text-black">
        <div class="nav mb-10">
            <a class="text-blue-500" href="/">Back to Home</a>
        </div>
        <h1 class="text-3xl tracking-tighter text-white mb-6">All Blogs</h1>

        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
            <% users.forEach(function(user) { %>
                <div class="user p-4 bg-zinc-800 rounded-lg">
                    <div class="aspect-w-16 aspect-h-9 bg-zinc-600 rounded-lg overflow-hidden">
                        <img class="object-cover object-center" src="<%= user.image %>" alt="">
                    </div>
                    <h3 class="text-3xl mt-4 tracking-tighter text-white"><%= user.blogtitle %></h3>
                    <h5 class="text-gray-300 mt-2"><%= user.name %></h5>
                    <div class="flex gap-3 mt-8">
                        <a class="text-gray-300" href="/edit/<%= user._id %>">Edit Blog</a>
                        <a class="text-red-400" href="/delete/<%= user._id %>">Delete Blog</a>
                        <a class="text-gray-300" href="/about/<%= user._id %>">Read Blog</a>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
    <%- include('footer') %>
</body>
</html>
